/* Estilos CSS aquí */
body {
    background-image: url('https://th.bing.com/th/id/OIG.FQjAc4jhGDmLmq_O1MaD?w=270&h=270&c=6&r=0&o=5&dpr=1.1&pid=ImgGn'); /* Cambia 'fondo.jpg' por la URL de tu imagen de fondo */
    background-size: cover;
}
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
}
.chat-input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
}
.clear-chat-button {
    background-color: red;
    color: white;
}
